* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul,
li {
    list-style: none;
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    border-bottom: 0.5px solid #ffffff;
}

.header .header__content .header__logo {
    display: flex;
    align-items: center;
    height: 80px;
}

.header .header__content .header__logo a {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 70px;
    color: #FFFFFF;
    margin-left: 15px;
    margin-bottom: 0;
}

.header .header__content .header__logo a:hover {
    text-decoration: none;
}

.header .header__content .header__menu {
    height: 80px;
    display: flex;
    align-items: center;
}

.header .header__content .header__menu ul {
    align-items: center;
}

.header .header__content .header__menu ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 70px;
    color: #FFFFFF;
    padding-left: 54px;
}

.header .header__content .header__menu ul li a:hover {
    text-decoration: none;
}

.menu__all {
    display: flex;
}

.show {
    display: flex !important;
    flex-direction: column;
    max-height: 100vh;
    transition: 0.5s;
    z-index: 100000;
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 80px;
    align-items: flex-start !important;
    background-color: white !important;
}

.show li a {
    width: 100%;
    color: black !important;
}

.menu__bar {
    display: none;
    font-size: 35px;
    color: #fff;
}

.footer {
    padding: 30px 0;
    background-color: #A6D641;
}

.footer .left h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    color: #FFFFFF;
}

.footer .left a {
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #FFFFFF;
}

.footer .left a:hover {
    text-decoration: none;
}

.footer .right {
    display: flex;
    justify-content: flex-end;
}

.footer .right a {
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding-left: 20px;
}

.footer .right a:hover {
    text-decoration: none;
}

.banner {
    position: relative;
    height: 100vh;
}

.owl-theme .owl-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.owl-theme .owl-dots .owl-dot span {
    background: transparent !important;
    border: 0.5px solid #ffffff;
    width: 14px !important;
    height: 14px !important;
}

.owl-theme .owl-dots .owl-dot:focus {
    outline: none !important;
}

.owl-theme .owl-dots .active span {
    background-color: #FFFFFF !important;
}

.my-owl-nav {
    position: absolute;
    top: 50%;
    z-index: 100;
    right: 15%;
    left: 15%;
    transform: translateY(-50%);
}

.my-owl-nav .my-prev-button {
    font-size: 50px;
    color: white;
    position: absolute;
    left: 50px;
}

.my-owl-nav .my-prev-button:hover {
    cursor: pointer;
}

.my-owl-nav .my-next-button {
    font-size: 50px;
    color: white;
    position: absolute;
    right: 50px;
}

.my-owl-nav .my-next-button:hover {
    cursor: pointer;
}

.banner__carousel .carousel__item img {
    height: 100vh;
}

.banner__carousel .carousel__item .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
}

.banner__carousel .carousel__item .middle p {
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.service {
    padding: 80px 0;
}

.service .service__all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service .service__all .service__subheading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #A0D334;
    padding-bottom: 20px;
}

.service .service__all .service__heading {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #181818;
    padding-bottom: 20px;
}

.service .service__all .service__description {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    text-align: center;
    color: #606060;
    width: 50%;
    margin-bottom: 50px;
}

.service .service__all .service__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service .service__all .service__item img {
    margin-bottom: 50px;
}

.service .service__all .service__item .item-description {
    margin-bottom: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    /* or 200% */
    text-align: center;
    color: #606060;
}

.introduce {
    background-color: black;
}

.introduce .introduce__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 50%;
}

.introduce .introduce__left .left__title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.introduce .introduce__left .left__description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.introduce .introduce__left .left__list {
    margin-top: 50px;
}

.introduce .introduce__left .left__list .list__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.introduce .introduce__left .left__list .list__item:nth-last-child(1) {
    margin-bottom: 0;
}

.introduce .introduce__left .left__list .list__item img {
    margin-right: 20px;
}

.introduce .introduce__left .left__list .list__item .content h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.introduce .introduce__left .left__list .list__item .content p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    /* or 200% */
    color: #FFFFFF;
}

.introduce .img__city {
    width: 100%;
    height: auto;
}

.about {
    padding: 80px 0;
}

.about .about__item {
    display: flex;
    margin-bottom: 50px;
    align-items: flex-start;
}

.about .about__item img {
    margin-right: 20px;
}

.about .about__item .content .content__title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #1C1C1C;
}

.about .about__item .content .content__des {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    /* or 187% */
    color: #1C1C1C;
}